@import url('./constants.css');

:host {
    max-width: 1000px;
    width: calc(100vw - 120px);
    margin: 10px;
    /*
    border: solid red 1px;
    border-radius: 3px;
    
    */
    background-color: white;
    border-radius: 15px;
    
}

div#devices-list-header {
    font-family: 'Asap', sans-serif;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    height: 2em;
    border-radius: 16px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

div.devices-list-header-title {
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    height: 2em;
    font-weight: 600;
    font-size: 1.2em;
}

ul#devices-list {
    font-family: 'Asap', sans-serif;
    margin: 0;
    padding: 0;
    border-top: none;
    border-radius: 16px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

ul#devices-list li {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-bottom: 1px;
    border-bottom: 1px grey solid;
    height: 2em;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.devices-list-value,
div.devices-list-secret-value {
    text-align: center;
    vertical-align: middle;
    line-height: 2em;
    height: 2em;
}