<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registration</title>
  <meta name="description" content="Registration page">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
  <script type="module" src="static/js/app.js" defer></script>
</head>

<body>
  <ui-app></ui-app>
  <!--
    <header>
        <div id="header-dashboard-div">
            <img src="{{ url_for('static',filename='img/circle.png')}}" height="80" width="80">
        Dashboard</div>
        <div id="header-devices-div">
            <img src="{{ url_for('static',filename='img/circle.png')}}" height="80" width="80">
        Devices</div>
        <div id="header-collections-div">
            <img src="{{ url_for('static',filename='img/circle.png')}}" height="80" width="80">
        Collections</div>
        <div id="header-settings-div">
            <img src="{{ url_for('static',filename='img/circle.png')}}" height="80" width="80">
        Settings</div>
    </header>
    <main>
      <ui-devices></ui-devices>
    </main>
  -->
</body>
</html>