<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Registration</title>
  <meta name="description" content="Registration page">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
  <link rel="preload" href="{{ url_for('static', filename='js/register.js') }}" as="script">
</head>

<body>
    <div>
    <header>
        <h1>Built-Environment Data Collection</h1>
        <p>Revision 0.1</p>
        <div class='line'></div>
        <h2>Device Registration</h2>
    </header>
    <main>
        <form>
        <div class="field">
            <span>Username</span><br><input type="text" id="username">
        </div>
        <div class="field">
            <span>Password</span><br><input type="password" id="password">
        </div>
        <div class="field">
            <span>Confirm Password</span><br><input type="password" id="confirm">
        </div>
        <div class="field">
            <span>Host Key</span><br><input type="password" id="hostkey">
        </div>
        <div id="field-error">
            <span id="error-value">Error</span>
        </div>
        <div class="field field-submit">
            <input type="button" value="Register" onclick="validate_then_submit()">
        </div>
        </form>
    </main>
    </div><script src="{{ url_for('static', filename='js/register.js') }}" defer></script>
</body>
</html>